svg {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a,
header,
main,
footer {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

header {
  display: flex;
  font-family: Montserrat;
  height: 45px;
  align-items: center;
  margin-bottom: 68px;
  margin-top: 17px;
}

header .a-first-name-off-project {
  text-decoration: none;
}

.first-name-off-project {
  color: #95E1D3;
  font-weight: 700;
  font-size: 30px;
}

.header-menu {
  width: 470px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 632px;
  font-weight: 400;
  font-size: 14px;
}

.header-menu > li > a {
  text-decoration: none;
  color: #95E1D3;
}

.header-menu > li > .red {
  color: #F38181;
  text-decoration-color: #F38181;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.whith-restrangle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restrangle {
  margin-top: 10px;
}

.section1 {
  margin-bottom: 100px;
}

.section1__p-name {
  text-transform: none;
  font-family: Kaushan Script;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section1__box-header {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  margin-left: 460px;
}

.section1__box-header h2 {
  font-weight: bold;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
}

.seckond-restrangle {
  width: 60px;
  height: 4px;
}

.section1__box-of-services {
  display: flex;
  flex-wrap: wrap;
  width: 1168px;
  height: 253px;
  margin: 0 auto;
}

.box-of-services__item {
  height: 74px;
  width: 330px;
}

.need-margin {
  margin-right: 70px;
}

.logo {
  display: flex;
}

.logo > h3 {
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 20px;
  height: 17px;
  margin-bottom: 20px;
  margin-top: 0;
}

.section1-menu-items-p {
  color: #B6B6B6;
  font-size: 15px;
  font-family: Roboto;
  line-height: 22px;
  font-weight: 400;
  width: 310px;
  margin: 0;
  margin-left: 57px;
}

/* section2 */
.section2__header {
  width: 232px;
  height: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 484px;
  margin-bottom: 45px;
}

.header__p {
  font-family: Kaushan Script;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 17px;
  color: #333333;
}

.header__h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  width: 250px;
  color: #333333;
  margin-bottom: 36px;
}

.section2__p-introductory {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: #B6B6B6;
  width: 1200px;
  height: 47px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 27px;
}

.section2__ul-grid-box {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.section2__ul-grid-box li {
  width: 380px;
  height: 546px;
  text-align: center;
}

.section2__ul-grid-box li h3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-top: 30px;
}

.section2__ul-grid-box li p {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  margin-top: 11px;
  color: #B6B6B6;
}

footer {
  width: 1200px;
  height: 50px;
  margin-top: 80px;
  display: flex;
  font-family: Montserrat;
  border-top: 1px solid #B6B6B6;
}

.footer__div-made-by {
  font-family: Montserrat;
  font-size: 13px;
  width: 320px;
  letter-spacing: 0%;
  margin-top: 22px;
}

.div-made-by__span {
  color: #F38181;
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 0%;
}

footer > form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer__input {
  width: 230px;
  height: 39px;
  padding: 0;
  color: #333333;
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  border: 1px solid #B6B6B6;
  border-right: none;
  margin-right: 0;
  padding-left: 10px;
  margin-left: 524px;
}

.footer__input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.footer__button {
  background-color: #95E1D3;
  width: 150px;
  height: 40px;
  border: none;
  margin-left: 0;
  padding: 0;
  color: #fff;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */